@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #AB892C, #6B4E01);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #33290eb2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #6B4E01;
    text-align: center;
    text-shadow: 2px 2px 2px #6b4f0033;
}

h2{
    color: #AB892C;
}

p{
    text-align: justify;
}