@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

div.container {
    display: flex;
    background-color: lightsalmon;
}

div.item {
    background-color: lightskyblue;
    border: 1px solid black;
    flex: auto;
    text-align: center;
}