@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

div.container {
    display: flex;
    flex-direction: row;
    background-color: lightsalmon;
}

div.item {
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}