@charset "UTF-8";

/* Versão para todas as mídias */

@media print{

    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg); /* Não funciona */     
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }

    #print{display: block;}
    #phone{display: none;}
    #tablet{display: none;}
    #pc{display: none;}
    #tv{display: none;}

}
@media screen and (min-width: 768px) and (max-width: 992px){ /* TABLET */

    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #print{display: none;}
    #phone{display: none;}
    #tablet{display: block;}
    #pc{display: none;}
    #tv{display: none;}

}
@media screen and (min-width: 992px) and (max-width: 1200px){ /* DESKTOP */
    
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #print{display: none;}
    #phone{display: none;}
    #tablet{display: none;}
    #pc{display: block;}
    #tv{display: none;}

}
@media screen and (min-width: 1200px){ /* GRANDES TELAS */
    
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #print{display: none;}
    #phone{display: none;}
    #tablet{display: none;}
    #pc{display: none;}
    #tv{display: block;}

}