@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

div.container {
    background-color: lightsalmon;

    display: flex;
    flex-flow: row wrap;
    align-content: space-between;

    height: 400px;
}

div.item {
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
}